<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- movile friendly -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Erikas website</title>
		<!-- css -->
    <link href="/style.css" rel="stylesheet">

		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Dancing+Script|Pacifico" rel="stylesheet">
		<!-- Google icon -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- materialize CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

		<!-- fontawesome -->
		<script src="https://use.fontawesome.com/405a0adae2.js"></script>
		<!-- main js file -->
		<script src="../main.js"></script>
	</head>


	<body id="body-index">
		<!-- ================================================================ -->
		<!-- preloader -->
		<!-- ================================================================ -->

		<div id="preloader">
			<div class="loder-box">
				<div class="battery"></div>
			</div>
		</div>

		<!-- ================================================================ -->
		<!-- header section -->
		<!-- ================================================================ -->

		<header>
			<nav>
    		<div class="nav-wrapper">
      		<a href="" class="logoName">EAH</a>
      			<a href="" data-activates="mobile-demo" class="button-collapse">
							<i class="material-icons">menu</i></a>

							<ul class="right hide-on-med-and-down">
				        <li><a href="">Home</a></li>
				        <li><a href="">About Me</a></li>
				        <li><a href="">Contact Me</a></li>
      				</ul>

					      <ul class="side-nav" id="mobile-demo">
									<li><a href="">Home</a></li>
					        <li><a href="">About Me</a></li>
					        <li><a href="">Contact Me</a></li>
					      </ul>
    			</div>
  		</nav>
	</header>

		<div id="mainPage" class="content-holder" style="opacity: 1; transform: translateY(0px); margin:0px;" data-natural-width="2560">
					<div class="parallax-window" data-depth="0.00" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
						<div class="parallax-window" data-depth="0.20" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
							<div class="parallax-window" data-depth="1.00" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
							</div>

							<h1 class="legend text-center">Erika Angarita Hormaza</h1>
							<div class="legend full-stack text-center">Full-Stack Web Developer<br>
								<a href="#"><i class="fa fa-angle-double-down fa-2x arrow" aria-hidden="true"></i></a>
							</div>

					</div>
				</div>
			</div>



<!--================================================================ -->
<!-- about-me -->
<!-- ================================================================ -->

<div class="container" id="about">
  <div class="row">
    <h1 class="text-center about">About Me</h1>
      <div class="col s6">
        <h2 class="title"><i class="material-icons">face</i> Who am I <i class="fa fa-question" aria-hidden="true"></i></h2>
        <p>Hi, I'm Erika an Austin based Full-Stack Web Developer. Officially, my job is to build beautiful and functional websites. But really what I do is create elegant, clean websites that you are going to love and will get the results that you are looking for. I work in JavaScript, Html, CSS and more.</p>
				<p></p>
				<p>If you can dream it I can build it. Follow me or send me an email</p>
          </div>

          <div class="col s6">
            <img class="aboutErika center-block img-responsive" src="/css/img/erika.jpg"  alt="Card image cap">
              </div>
						</div>

						<div class="row my-projects">
              <div class="col s6">
               	<h2 class="title"><i class="material-icons">work</i> My projects</h2>
                	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>

                <div class="col s5 push-s1"><span class="flow-text">
                  <h3><i class="fa fa-paw" aria-hidden="true"></i><a class="puppy-link" href="https://puppylink.herokuapp.com/"> PuppyLink</a></h3>
										<img class="responsive-img" src="/css/img/puplink.png">
               					<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>

											</div>
										</div>

										<div class="container">
											<h1 class="title text-center">My Skills</h1>
												<h4 class="text-center">I do all kinds of neat stuff</h4>

													<div class="row">
														<div class="col s4">
															<h3><i class="fa fa-html5" aria-hidden="true"></i> HTML</h3>
															<div class="progress">
																<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
															</div>
														</div>
													</div>

														<div class="col s4">
															<h3><i class="fa fa-css3" aria-hidden="true"></i> CSS</h3>
																<div class="progress">
																	<div class="progress-bar progress-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
																</div>
															</div>
														</div>

														<div class="col s4">
															<h3><i class="fa fa-code" aria-hidden="true"></i> JavaScript</h3>
																<div class="progress">
																	<div class="progress-bar progress-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
																</div>
															</div>
														</div>

														<div class="col s4">
															<h3><i class="material-icons">important_devices</i> JQuery</h3>
																<div class="progress">
																	<div class="progress-bar progress-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
																</div>
															</div>
														</div>

														<div class="col s4">
															<h3><i class="fa fa-camera" aria-hidden="true"></i> Photography</h3>
																<div class="progress">
																	<div class="progress-bar progress-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
																</div>
															</div>
														</div>

														<div class="col s4">
															<h3><i class="fa fa-smile-o" aria-hidden="true"></i> Sense of humor</h3>
																<div class="progress">
																	<div class="progress-bar progress-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">Proficient<span class="sr-only"></span>
																</div>
															</div>
														</div>
													</div>
										</div>


								</div>


<!--================================================================-->
<!-- Social section -->
<!-- ================================================================ -->
<div id="social" class="content-holder" style="opacity: 1; transform: translateY(0px); translateZ(-10px); margin:0px;" data-natural-width="2560">
		<div class="parallax-window" data-parallax="scroll" data-image-src="/css/img/social.jpeg"></div>
		<div class="parallax-slider">
				<h1 class="legend text-center">Follow Me</h1>
								<ul class="social-button">
									<li class=""><a href="https://www.facebook.com/"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
									<li class=""><a href="https://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
									<li><a href="https://github.com/erikang20"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>


						<h1 class="contact-me">Stay Conected</h1>

						<!-- Contact section -->
						<section id="contactIndex">
							<div class="container">
								<div class="row">

									<div class="sec-title text-center wow animated fadeInDown">
										<h2 class="messageUs">Contact me</h2>
										<p>Leave me a Message</p>
									</div>


									<div class="col-md-7 contact-form wow animated fadeInLeft">
										<form action="form" method="get">
											<div class="input-field">
												<input type="text" name="name" class="form-control" placeholder="Your Name...">
											</div>
											<div class="input-field">
												<input type="email" name="email" class="form-control" placeholder="Your Email...">
											</div>
											<div class="input-field">
												<input type="text" name="subject" class="form-control" placeholder="Subject...">
											</div>
											<div class="input-field">
												<textarea name="message" class="form-control messageIndex" placeholder="Messages..."></textarea>
											</div>
													<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
										</form>
									</div>

									<div class="col-md-5 wow animated fadeInRight">
										<address class="contact-details">
											<h3>Email me</h3>
										</address>
									</div>

								</div>
							</div>
						</section>
						<!-- end Contact section -->





						<form class="gmail" action="mailto:erikang20@gmail.com">
						<input type="submit" value="Email Me">

						</form>




<footer class="page-footer navbar-inverse" id="footer">
    	<div class="container">
    		<div class="footer-social">
    			<ul>
    				<li class="wow animated zoomIn"><a href="https://www.facebook.com/"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
    				<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
    				<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com"><i class="fa fa-instagram fa-3x"></i></a></li>
    			</ul>
    			<p class="copyright">Copyright &copy; 2016 Design and Developed By Erika Angarita</p>
    		</div>
    	</div>
    </footer>


		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		<!-- parallax -->
		<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>%>
	  <script src="/css/parallax.js-1.4.2/parallax.js"></script>

  </body>
</html>
