<!-- ================================================================ -->
<!-- end of the header and top navigation -->
<!-- ================================================================ -->

<h1 class="contact-me">Stay Conected</h1>

<!-- Contact section -->
<section id="contactIndex">
	<div class="container">
		<div class="row">

			<div class="sec-title text-center wow animated fadeInDown">
				<h2 class="messageUs">Contact me</h2>
				<p>Leave me a Message</p>
			</div>


			<div class="col-md-7 contact-form wow animated fadeInLeft">
				<form action="form" method="get">
					<div class="input-field">
						<input type="text" name="name" class="form-control" placeholder="Your Name...">
					</div>
					<div class="input-field">
						<input type="email" name="email" class="form-control" placeholder="Your Email...">
					</div>
					<div class="input-field">
						<input type="text" name="subject" class="form-control" placeholder="Subject...">
					</div>
					<div class="input-field">
						<textarea name="message" class="form-control messageIndex" placeholder="Messages..."></textarea>
					</div>
							<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
				</form>
			</div>

			<div class="col-md-5 wow animated fadeInRight">
				<address class="contact-details">
					<h3>Email me</h3>
				</address>
			</div>

		</div>
	</div>
</section>
<!-- end Contact section -->


<div class="contact-social">

	<a href="https://twitter.com/erikillang20" class="twitter-follow-button" data-show-count="false">Follow @erikillang20</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<form class="gmail" action="mailto:erikang20@gmail.com">
<input type="submit" value="Email Me">

</form>

</div>


</body>



</html>
