<!-- ================================================================ -->
<!-- Parallax-->
<!-- ================================================================ -->

<section id="mainPage" class="content-holder" style="opacity: 1; transform: translateY(2px);">
    <div class="parallax-window" data-parallax="scroll" data-image-src="../Erika-Website/img/DSC_0725-copy.jpg"></div>
    <div class="parallax-slider">
        <span class="inspired" style="position:absolute; top: 400px; left: 100px;">
						<legend class="legend">Welcome</legend>
						<legend class="legend">It's nice to meet you!</legend>

					</span>
    </div>
</section>
